In [1]:
#set Up dependencies
import pandas as pd
import numpy as np

#create a file path
heros = "resources/purchase_data.csv"

#reading the file and creating a table
purchase_game = pd.read_csv(heros)
purchase_game_df = pd.DataFrame(purchase_game)
purchase_game_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [2]:
#total player count
#player_count = purchase_game_df["SN"].count()
#player_count = purchase_game.loc[:, ["SN", "Age", "Gender"]]
player_count = len(purchase_game["SN"].unique())
#player_count2 = player_count.drop_duplicates()
#final_count = player_count2.count()[0]
pd.DataFrame({"Total Players": [player_count]})

   Total Players
0            576

In [3]:
#number of unique items
unique_items = len(purchase_game_df["Item ID"].unique())
unique_items 
pd.DataFrame({"Total Items": [unique_items]})

   Total Items
0          179

In [4]:
#total number of purchases needed to find average cost later on
purchase_count = purchase_game_df["Purchase ID"].count()
purchase_count
pd.DataFrame({"Total # of Purchases": [purchase_count]})

   Total Purchases
0              780

In [7]:
#total revenue from all purchases
total_revenue = purchase_game_df["Price"].sum()
total_revenue
pd.DataFrame({"Total Revenue": [total_revenue]})

   Total Revenue
0        2379.77

In [10]:
#average purchase price
average_price = total_revenue/purchase_count
average_price
pd.DataFrame({"Average Price": [average_price]})

   Average Price
0       3.050987

In [13]:
#gender total count 
gender_df = pd.DataFrame(purchase_game_df["Gender"].value_counts())
gender_df

                       Gender
Male                      652
Female                    113
Other / Non-Disclosed      15

In [12]:
# gender percentages
gender_percentages = (purchase_game_df["Gender"].value_counts()/player_count)*100
#gender_percentages = gender_df/ player_count*100
gender_percentages

Male                     113.194444
Female                    19.618056
Other / Non-Disclosed      2.604167
Name: Gender, dtype: float64